[user]
        name = Illzen
        email = 908413385@qq.com
[core]
        editor = nvim
[credential]
        helper = store
[safe]
        directory = .
[alias]
        co = checkout
  lg = log --graph --oneline --decorate
  st = status -sv
  br = branch


