[user]
	name = Illzen
	email = 908413385@qq.com
[core]
	editor = nvim
[http]
	version = HTTP/1.1
	proxy = 
[https]
	proxy = 
[socks]
	proxy = 
[credential]
	helper = store
[safe]
	directory = .
	directory = /home/zen/filmdb
[alias]
	co = checkout
  lg = log --graph --oneline --decorate
  st = status -sv
  br = branch
  
